/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* BODY */
body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
}

/* CENTER CONTAINER */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD */
.auth-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.auth-card input:focus {
  border-color: #667eea;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.auth-card button:hover {
  background: #5a67d8;
}

/* DASHBOARD */
.dashboard {
  padding: 30px;
  color: white;
}

.dashboard h2 {
  margin-bottom: 20px;
}

/* TASK INPUT */
.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.task-input button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background: #48bb78;
  color: white;
  cursor: pointer;
}

/* TASK LIST */
.task {
  background: white;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.task button {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
